
@{
    ViewBag.Title = "Index";
}
@section css{
    <style type="text/css">

    </style>
    }
<div>
    <div class="baseMap">
        <img src="~/Upload/Image/MonitorTemplate/MonitorImg.png" class="baseImage" />
    </div>

    <div class="activeImages">

    </div>

</div>


@section scripts{

    }

